.campaign-card {
  border: 0;
  transition: transform 0.2s ease-in-out;
}

.campaign-card:hover {
  transform: scale(1.05);
}

.campaign-card img {
  height: 200px;
  object-fit: cover;
}

.campaign-button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.campaign-button:hover {
  background-color: #f8f9fa;
  color: #343a40;
}
