.app {
  background-image: url('../public/images/d&d_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #ffd700; /* Goldish color for text */
  overflow: auto;
}

.container-fluid {
  padding: 0;
}

.custom-container {
  margin-top: 2em;
  max-height: 150vh;
  overflow-y: auto;
}


.custom-container .row {
  margin-left: 0;
  margin-right: 0;
}

.custom-container .col-md-4 {
  width: 33.33%;
  padding: 15px; /* Give some spacing for cards */
}

.card {
  background-color: rgba(255, 215, 0, 0.1); /* Goldish background with a bit of transparency for cards */
  border: 2px solid #ffd700; /* Goldish border for cards */
  border-radius: 15px; /* Rounded corners for cards */
}

.btn-light {
  background-color: #ffd700; /* Goldish color for buttons */
  color: #000000; /* Black color text on buttons */
}

.btn-light:hover {
  background-color: #ffcc00; /* Lighter goldish color for button hover */
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
}