.App {
  background-color: #f8f9fa;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-container {
  width: 100%; /* Adjust the width value as per your requirement */
  max-width: 1200px; /* Adjust the max-width value as per your requirement */
  margin: 0 auto; /* Center the container horizontally */
}

.custom-container .row {
  margin-left: 0;
  margin-right: 0;
}

.custom-container .col-md-4 {
  width: 33.33%; /* Adjust the width value as per your requirement */
}
